<ng-template #modalWindow let-modal>

	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">{{titleBtnModal}}</h4>
	</div>

	<div class="modal-body">
		{{title}}
		<app-modal-mission-new></app-modal-mission-new>
	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Annuler</button>
	</div>

</ng-template>

<hr />

<i class="button_add btn fa-solid fa-circle-add" (click)="open(modalWindow)">{{titleBtnModal}}</i>

<hr />

