<!-- <ng-template #modalWindow let-modal>

	<div class="modal-header">
		<h4 class="modal-title modal-header-title" id="modal-basic-title">titleBtnModal</h4>
		<i type="button" class="fa-solid fa-circle-xmark" (click)="modal.close('Save click')"></i>
	</div>


	<!-- <app-modal-mission-new  *ngIf="nameModal=='ModalMissionNewComponent'" [lstMissions]="lstMissions" ></app-modal-mission-new> -->
	<!-- 
	<app-modal-mission-delete *ngIf="nameModal=='ModalMissionDeleteComponent'"></app-modal-mission-delete>
	<div class="modal-footer">
		<button type="button" class="btn btn-modal-cancel" (click)="modal.close('Save click')">Fermer</button>
	</div> -->



 -->