.container {
	display: flex;
	align-self: center;
	justify-content: center;
	margin: 0.5em;
}

.login_card {
	box-shadow: 0 3px 10px 0 #BADDD5;
}

form {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin-top: 4.4em;
}

.form-input {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}


.form-control:focus {
	border-color: #23b591 !important;
	box-shadow: 0 0 0 0.1rem #40eec35e !important;
}

.button_connect {
	color: white;
	background: var(--color-secondary);
	border: 1px solid #be8afd;
	border-radius: 17px;
	padding: 10px 20px;
	transition: 0.2s;
}

.button_connect:hover {
	background: var(--color-primary);
	border: 1px solid #23b591;
	box-shadow: 0 0 0 0.1rem #40eec35e;
	font-weight: bolder;
}

.button_connect:active {
	color: white;
	background: var(--color-primary);
	border: 1px solid #23b591;
	box-shadow: 0 0 0 0.1rem #40eec35e;
	font-weight: bolder;
}

.form-floating>.form-control,
.form-floating>.form-control-plaintext,
.form-floating>.form-select {
	height: calc(1.5rem + calc(var(--bs-border-width) * 2));
	/* min-height: calc(1.5rem + calc(var(--bs-border-width) * 2)); */
	line-height: 1.25;
}

#contBtnConnect {
	margin-top: 3.4em;
}

* {
	height: 100vh;
	width: 100vh;
	display:flex;
	flex-direction: column;
	margin:auto;
	justify-items:center;
	align-items:center;
	color: black;
	font-size:12px;
}
section{
	margin-top: 4em;
	display: flex;
	flex-direction: column;
}
h1, h1 > span {
	font-size: 15px;
	text-align: center;
	margin-top: 1em;
	margin-left: 1em;
	color: #6f42c1 ;
}
h1 > span{
	padding: 0;
	margin: 0;
}
h2{
	font-size: 12px;
}
table{
	
}
.col-md-4{
	margin-bottom: 2.5em;
}

ul, li, ul>li{
	text-decoration: none;
}

.li-title, #totalExpense{
	font-weight: 600;
}


footer{
	display:flex;
	justify-items:flex-end;
}