<footer class="d-flex justify-content-center align-items-center border-top footer-home ">
    <div>
        <a routerLink="/home"
            className="d-flex align-items-center justify-content-center link-body-emphasis text-decoration-none">
            <img src="../../../assets/images/around-tech-logo.png" className="logo" height=50 width=50 alt="Around Tech Logo" />
        </a>
        <br/>
        <span>Copyright © {{currentYear}} AroundTech. Tous droits réservés.</span>
    </div>
</footer>